---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Cablemor | 404">
	<div class="contenido" style="margin-top: 320px;">
        <h1 style="font-size: 65px;" class="trazo">Vagina no encontrada :(</h1>
		<p class="trazo">hola ian</p>
		<a href="/" class="btn btn-info">Volver al Inicio</a>
	</div>
</Layout>